.hotel-exterior-image {
    background-image: url(../media/hotel-exterior.jpg);
    background-size: cover;
    border: solid white;
    height: 9rem;
    width: 100%;
}

.details-page, a {
    color: white;
}

.details-page > * {
    margin-bottom: 0.30rem;
}

address {
    color: rgb(173, 216, 240);
    font-style: normal;
}
