.footer {
    padding-top: 1.5rem;
}

.footer-button {
    background: linear-gradient(white, rgb(173, 216, 240));
    color: black;
    display: block;
    font-size: 100%;
    font-weight: bold;
    height: 2.75rem;
    text-align: left;
    width: 100%;
}

.footer-button:nth-of-type(1) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.footer-button:nth-last-of-type(1) {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.button-arrow {
    float: right;
}
