.app {
    background-attachment: fixed;
    background-image: url(media/background.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
    min-height: 100vh;
}

main {
    padding: 1.5rem;
}
